* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.contaiente-heade {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.icon {
    width: 70px;
    border-radius: 50%;
}

.container-links a {
    margin: 0 20px 0 20px;
    font-weight: bold;
    background: #000000;
    color: #ddd;
    border-radius: 12px;
    padding: 14px;
    transition: 0.3s;
}

a:hover {
    background-color: cornflowerblue;
    color: blue;
}

.container-carrossel {
    display: flex;
    width: 100%;
    background-image: url('https://i.pinimg.com/736x/df/93/7d/df937d4b92698cb1e035add7ca46b53e.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
}
